{%  extends 'index.html' %}

{% block content %}
    <div class="custom_content">
        
        {% block menu %}
            {% include "menu.html" %}
        {% endblock menu %}

        <h4>Orders</h4>
        {% for order in form.values %}
        <div>
            <ul>
                <li>id: {{order.id}}</li>
                <li>name : {{order.name}}</li>
                <li>customer:{{order.customer}}</li>
                <li>menuitems:
                    <ul>
                    {% for item in order.menuitems%}
                        <li>{{item.name}}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>

{% endblock content %}